body {
    margin-top:5%;
}

.search-background {
    background: url('/images/dust_scratches.png');
}



.backgroundWhite {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:95%;
   
}