@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<nav class="navbar navbar-expand navbar-expand-xl navbar-expand-md">
    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary" asp-page="/Account/Logout">
                    Logout&nbsp;<i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
        }
        else
        {
            @*<li class="nav-item">
                <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>*@
            <li class="nav-item">
                <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Login">
                    Login&nbsp;<i class="fas fa-sign-in-alt"></i>
                </a>
            </li>
        }
    </ul>


</nav>

